html{
    background-color: black;
}
#bor{
    text-transform: uppercase;
    size: 3rem;
    
}
.yoy{
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-right: 25%;

}
#dor{
    width: 100%;
    border-color: white;
    border-right: 5px;
    border-left: 5px;
    border-bottom: 5px;
    border-top: 5px;
    border-style: solid;
}


